h1 {
    font-family: 'Raleway', sans-serif;

}

h2 {
    font-family: 'Raleway', sans-serif;

}

p {
    font-family: 'Lora', serif;
}

#UCSB-Pic { display: block;
    text-align: center;

    margin: auto;
}