h1 {
    font-family: 'Raleway', sans-serif;

}

h2 {
    font-family: 'Raleway', sans-serif;

}

p {
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Raleway', sans-serif;
}

li { 
    font-family: 'Raleway', sans-serif;
}

#UCSB-Pic { display: block;
    text-align: center;

    margin: auto;
}

#Yerb { display: block;
    text-align: center;

    margin: auto;
}
