h1 {
    font-family: 'Raleway', sans-serif;

}

h2 {
    font-family: 'Raleway', sans-serif;

}

h3 {
    font-family: 'Raleway', sans-serif;

}

#UCSB-Pic { display: block;
    text-align: center;

    margin: auto;
}

#Yerb { display: block;
    text-align: center;

    margin: auto;
}

#PCB-Pic { display: block;
    text-align: center;

    margin: auto;
}
